:host {
  display: block;
}

.hidden.hidden {
  display: none;
}

.editor {
  display: flex;
  flex-direction: column;

  .textarea {
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .editor-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.preview {
  display: flex;
  flex-direction: column;

  .placeholder {
    background-color: gray;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
  }

  .markdown {
    display: block;
    min-height: 1rem;
  }
}
