<div class="editor" [class.hidden]="!isEditing">
  <mat-form-field appearance="fill">
    <textarea
      matInput
      class="textarea"
      placeholder="Add description..."
      cdkTextareaAutosize="true"
      [(ngModel)]="current"
    ></textarea>
  </mat-form-field>
  <div class="editor-actions">
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    <button
      mat-icon-button
      aria-label="Cancel editing description"
      (click)="onCancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="preview" [class.hidden]="isEditing">
  <markdown
    emoji
    class="markdown"
    *ngIf="_description; else placeholder"
    [data]="_description"
    (click)="isEditing = !isEditing"
  >
  </markdown>
  <ng-template #placeholder>
    <div class="placeholder" (click)="isEditing = !isEditing">
      Add description...
    </div>
  </ng-template>
</div>
