<h1 class="header" mat-dialog-title>
  {{ data.task.name }} <span>(In {{ data.board.title }})</span>
</h1>
<mat-dialog-content class="wrapper">
  <div class="main-content">
    <div class="description-title">
      <mat-icon>description</mat-icon> Description <span>(click to edit)</span>
    </div>
    <app-md-editor
      class="editor"
      [description]="data.task.description"
      (save)="onSaveDescription($event)"
    ></app-md-editor>
  </div>
  <div class="sidenav">
    <app-color-switcher
      [initialLabel]="data.task.label"
      [vertical]="true"
      (labelChange)="changeLabel($event)"
    ></app-color-switcher>
  </div>
</mat-dialog-content>
