<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/workspace/create" (click)="drawer.close()"
        >Create Workspace</a
      >
      <a mat-list-item routerLink="/workspace" (click)="drawer.close()"
        >View Workspaces</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="logo" routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Home icon" class="icon"
          >home</mat-icon
        >
        Tiptop
      </div>

      <span class="fill-space"></span>

      <div *ngIf="(isHandset$ | async) === false">
        <a mat-button routerLink="/login"><mat-icon>vpn_key</mat-icon> Login</a>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
          Workspaces
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/workspace/create">
            <mat-icon>dialpad</mat-icon>
            <span>Create</span>
          </button>
          <button mat-menu-item routerLink="/workspace">
            <mat-icon>voicemail</mat-icon>
            <span>View</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
