<button
  class="back-button"
  *ngIf="workspaceId$ | async as id"
  [routerLink]="['/workspace', id]"
  mat-raised-button
  color="primary"
>
  Back To Workspace
</button>
<ng-container *ngIf="boards$ | async as boards; else loading">
  <div
    class="boards"
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="boards"
    (cdkDropListDropped)="onBoardDropped($event)"
  >
    <app-board
      cdkDrag
      *ngFor="let board of boards; trackBy: trackBoard"
      [board]="board"
    >
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
    </app-board>

    <ng-container *ngIf="workspaceId$ | async as workspaceId">
      <div class="board-button">
        <button
          mat-raised-button
          color="accent"
          cdkDragDisabled
          (click)="openBoardDialog(boards, workspaceId)"
        >
          New Board
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
