<ng-container *ngIf="boards$ | async as boards; else loading">
  <div
    class="boards"
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="boards"
    (cdkDropListDropped)="onBoardDropped($event)"
  >
    <app-board
      cdkDrag
      *ngFor="let board of boards; trackBy: trackBoard"
      [board]="board"
    >
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
    </app-board>

    <div class="board-button">
      <button
        mat-raised-button
        color="accent"
        cdkDragDisabled
        (click)="openBoardDialog(boards)"
      >
        New Board
      </button>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
