<ng-container *ngIf="board$ | async as board">
  <mat-card class="outer-card">
    <mat-card-header class="board-list-header">
      <ng-content></ng-content>
      <mat-card-title>
        {{ board.title }}
      </mat-card-title>
    </mat-card-header>

    <ng-container *ngIf="tasks$ | async as tasks; else loading">
      <div
        class="tasks"
        cdkDropList
        cdkDropListOrientation="vertical"
        [cdkDropListData]="{board, tasks}"
        (cdkDropListDropped)="taskDrop($event)"
      >
        <div
          class="inner-card"
          cdkDrag
          *ngFor="let task of tasks; trackBy: trackTask; let i = index"
          (click)="openTaskDialog(task, board)"
        >
          <mat-card [ngClass]="task.label ?? 'gray'">
            {{ task.name }}
          </mat-card>
        </div>
      </div>

      <button mat-stroked-button (click)="openDialog(board.id, tasks)">
        <mat-icon>add</mat-icon>
      </button>

      <app-delete-button (delete)="handleDelete(board.id)"></app-delete-button>
    </ng-container>

    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-container>
