<ng-container *ngIf="board$ | async as board">
  <mat-card class="outer-card">
    <mat-card-header class="board-list-header">
      <ng-content></ng-content>
      <mat-card-title>
        <span [class.hidden]="isEditTitle">{{ board.title }}</span>
        <mat-form-field [class.hidden]="!isEditTitle">
          <input
            autocomplete="off"
            matInput
            [(ngModel)]="board.title"
            (keyup.enter)="onSaveTitle(board.id, board.title)"
            (blur)="onSaveTitle(board.id, board.title)"
          />
        </mat-form-field>
      </mat-card-title>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="more-title"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditTitle()">
          <mat-icon>edit</mat-icon>
          <span>Edit title</span>
        </button>
      </mat-menu>
    </mat-card-header>

    <ng-container *ngIf="tasks$ | async as tasks; else loading">
      <div
        class="tasks"
        cdkDropList
        cdkDropListOrientation="vertical"
        [cdkDropListData]="{board, tasks}"
        (cdkDropListDropped)="taskDrop($event)"
      >
        <div
          class="inner-card"
          cdkDrag
          *ngFor="let task of tasks; trackBy: trackTask; let i = index"
          (click)="openTaskDialog(task, board)"
        >
          <mat-card [ngClass]="task.label ?? 'gray'">
            {{ task.name }}
          </mat-card>
        </div>
      </div>

      <button mat-stroked-button (click)="openDialog(board.id, tasks)">
        <mat-icon>add</mat-icon>
      </button>

      <app-delete-button (delete)="handleDelete(board.id)"></app-delete-button>
    </ng-container>

    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-container>
